#contact {
  padding: 20px 0;
  margin-bottom: 50px;
  .contact-title {
    color: $blue-color;
    margin-bottom: 20px;
  }
  .name {
    font-size: $font-sm;
    font-weight: 300;
    margin-bottom: 20px;
  }
  li {
    font-weight: 500;
    margin-bottom: 10px;
  }
  .hotline {
    color: $red-color;
  }
  .mail {
    font-style: italic;
    color: $yellow-color;
  }
  .website {
    color: $blue-color;
  }
  .facebook {
    color: #3578e5;
  }
  .zalo {
    color: #359fe5;
  }
}
