html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
  color: $text-color;
  &.noscroll {
    overflow: hidden;
  }
}

// Text
h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.15;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

p {
  line-height: 1.5;
}
li {
  list-style: inside;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: $text-color;
}
img {
  width: 100%;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
}
#back-to-top {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $blue-color;
  box-shadow: -1px -1px 10px -5px #000000;
  i {
    color: $white-color;
    font-size: 1.375rem;
  }
}
.active {
  display: block !important;
}
.inactive {
  display: none !important;
}
#main {
  margin-top: 80px;
}

.contact-info {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1000;
  width: 200px;
  a {
    color: $white-color;
  }
  .zalo-chat {
    padding: 8px 20px;
    background-color: #3cd6bb;
    border-radius: 20px;
    margin-bottom: 6px;
  }
  .fb-chat {
    padding: 8px 20px;
    background-color: #3578e5;
    border-radius: 20px;
    margin-bottom: 6px;
  }
  .hotline {
    padding: 8px 20px;
    background-color: #d11a59;
    border-radius: 20px;
    margin-bottom: 6px;
  }
}
