#home {
  padding: 20px 0;
  margin-bottom: 40px;
  //slider
  .sider-container {
    display: flex;
    margin-bottom: 40px;
    @include mobile {
      flex-direction: column;
    }
    .left {
      width: 66.67%;
      animation: slideInFormLeft 0.6s ease-in;
      @include mobile {
        width: 100%;
      }
      .slider {
        width: 100%;
        height: 86vh;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid $gray-border-color;
        background-color: $white-color;
        @include mobile {
          height: 60vh;
        }
        .slide-prev {
          @include btnSlide;
          left: 6px;
        }
        .slide-next {
          @include btnSlide;
          right: 6px;
        }
        .prev-active {
          opacity: 1;
          left: 0;
        }
        .next-active {
          opacity: 1;
          right: 0;
        }
        .dot-container {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 20px;
          display: flex;
          .dot {
            width: 10px;
            height: 10px;
            background-color: $gray-border-color;
            margin: 8px;
            border-radius: 50%;
            transition: background-color 200ms linear;
            cursor: pointer;
          }
          .dot-current {
            background-color: $blue-color;
          }
        }
        .slider-content {
          position: relative;
          transition: transform 0.4s ease-out 0.2s;
          .img {
            height: 66vh;
            @include mobile {
              height: 40vh;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .slide-img-1 {
            position: absolute;
            top: 0;
            left: 100%;
            width: 100%;
            height: 100%;
          }
          .slide-img-2 {
            @extend .slide-img-1;
            left: 200%;
          }
          .slide-img-3 {
            @extend .slide-img-1;
            left: 300%;
          }
          .slide-img-4 {
            @extend .slide-img-1;
            left: 400%;
          }
          .slide-img-5 {
            @extend .slide-img-1;
            left: 500%;
          }
          .slide-img-6 {
            @extend .slide-img-1;
            left: 600%;
          }
          .slide-img-7 {
            @extend .slide-img-1;
            left: 700%;
          }
          .slide-img-8 {
            @extend .slide-img-1;
            left: 800%;
          }
          .title {
            width: 80%;
            margin: 20px auto;
            text-transform: uppercase;
            color: $blue-color;
            text-align: center;
          }
        }
      }
    }
    .right {
      animation: slideInFormRight 0.6s ease-in;
      width: 33.33%;
      margin-left: 20px;
      padding: 20px;
      border-radius: 10px;
      background-color: $blue-light-color;
      @include mobile {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
      }
      .introduce-info {
        .introduce-info-title {
          color: $blue-color;
          padding-bottom: 6px;
          border-bottom: 1px solid $yellow-color;
          margin-bottom: 20px;
          i {
            margin-right: 6px;
            color: $yellow-color;
          }
        }
        .introduce-info-content {
          li {
            font-size: $font-sm;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
  //news
  .news-container {
    margin-bottom: 40px;
    .title {
      color: $blue-color;
      margin: 20px 0;
      overflow: hidden;
      h2 {
        text-align: center;
        i {
          font-size: 1.3rem;
          opacity: 0.4;
          margin-right: 10px;
          transform: translateY(-2px);
        }
      }
      h2:before,
      h2:after {
        background-color: $blue-color;
        content: "";
        display: inline-block;
        height: 0.5px;
        position: relative;
        vertical-align: middle;
        width: 50%;
      }
      h2:before {
        right: 20px;
        margin-left: -50%;
      }
      h2:after {
        left: 20px;
        margin-right: -50%;
      }
    }
    .news-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }
      @include mobile {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    .news-item {
      .news-img {
        height: 220px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      span {
        font-size: 0.5rem;
        font-weight: 700;
        color: $white-color;
        background-color: $gray-light-color;
        padding: 2px 4px;
        border-radius: 2px;
      }
      .news-title {
        font-size: $font-sm;
        color: $blue-color;
        font-weight: 700;
      }
      .news-desc {
        font-size: $font-xsm;
        color: $gray-color;
      }
      &:hover {
        span {
          background-color: $yellow-color;
        }
      }
    }
  }

  //product
  .product-container {
    background: url("../../assests/shophouse-thanh-ha-cienco-5.jpg") no-repeat
      right top;
    margin-bottom: 40px;
    .wrapper {
      background-color: rgba($color: $blue-color, $alpha: 0.8);
      flex-direction: column;
      overflow: hidden;
      .title {
        color: $yellow-color;
        text-align: center;
        padding-top: 40px;
        @include mobile {
          padding: 40px 20px 0 20px;
        }
        h3:before,
        h3:after {
          background-color: $yellow-color;
          content: "";
          display: inline-block;
          height: 1px;
          position: relative;
          vertical-align: middle;
          width: 50%;
          @include mobile {
            display: none;
          }
        }
        h3:before {
          right: 20px;
          margin-left: -50%;
        }
        h3:after {
          left: 20px;
          margin-right: -50%;
        }
      }

      .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        padding: 40px 0;
        @include mobile {
          grid-template-columns: repeat(1, 1fr);
          text-align: center;
        }
        .product-img {
          padding: 6px;
          border: 1px solid $yellow-color;
          border-radius: 5px;
          height: 220px;
          margin-bottom: 20px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .product-name {
          color: $yellow-color;
          text-align: center;
          font-weight: 500;
          margin-bottom: 20px;
        }
        .product-info {
          li {
            list-style: none;
            font-size: $font-sm;
            color: $white-color;
            margin-bottom: 4px;
            i {
              color: $yellow-color;
              margin-right: 6px;
            }
          }
        }
      }
    }
  }

  //extend
  .extend-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
    .news-event {
      @include mobile {
        display: none;
      }
      .news-event-title {
        font-size: $font-lg;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
        color: $blue-color;
        i {
          margin-right: 6px;
        }
      }
      .news-event-item {
        display: flex;
        align-items: center;
        &:hover {
          span {
            background-color: $yellow-color;
          }
        }
      }
      .news-event-img {
        width: 30%;
        padding: 10px;
        img {
          width: 100%;
          height: 50px;
          object-fit: cover;
        }
      }
      .news-content-item {
        width: 70%;
        .news-title {
          color: $blue-color;
          font-weight: 500;
          font-size: $font-sm;
          line-height: 1.2;
        }
        span {
          font-size: 0.5rem;
          font-weight: 700;
          color: $white-color;
          background-color: $gray-light-color;
          padding: 2px 4px;
          border-radius: 2px;
          margin-bottom: 6px;
        }
      }
    }
    .intro {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $blue-light-color;
      border: 1px dashed $blue-color;
      border-radius: 4px;
      text-align: center;
      padding: 20px 10px;
      .intro-title {
        font-size: $font-med;
        font-weight: 500;
        color: $blue-color;
        margin-bottom: 16px;
      }
      .hotline-intro {
        color: red;
        font-weight: 500;
      }
    }
    .map {
      .map-title {
        font-size: $font-lg;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
        color: $blue-color;
        i {
          margin-right: 6px;
        }
      }
      .google-map {
        width: 100%;
      }
    }
  }
}
