#introduce {
  padding: 20px 0;
  margin-bottom: 50px;
  .container {
    max-width: 980px;
  }
  .introduce-title {
    color: $blue-color;
    margin-bottom: 20px;
  }
  .introduce-content {
    .title-main {
      color: $blue-color;
      margin-bottom: 10px;
    }
    .title-lv1 {
      margin-top: -80px;
      padding-top: 100px;
      margin-bottom: 20px;
      font-weight: 500;
      color: $yellow-color;
    }
    .title-lv2 {
      font-weight: 500;
      margin-bottom: 20px;
    }
    .text {
      font-size: $font-med;
      margin-bottom: 20px;
    }
    .main-content {
      padding: 16px;
      margin: 20px 0;
      background-color: $gray-bg-color;
      .header-mc {
        font-weight: 500;
        color: $blue-color;
      }
      .part-mc {
        padding: 4px 0;
        font-size: $font-sm;
        color: $blue-color;
        cursor: pointer;
      }
    }

    .img {
      width: 100%;
      margin-bottom: 20px;
      .img-text {
        padding: 6px;
        margin-top: -6px;
        text-align: center;
        font-size: $font-sm;
        background-color: $gray-bg-color;
      }
    }
    .list {
      margin-bottom: 20px;
      label {
        font-weight: 500;
      }
      li {
        padding: 6px 0;
      }
    }
    .list-sm {
      margin-bottom: 20px;
      label {
        font-weight: 500;
      }
      li {
        list-style: none;
        padding: 3px 0;
        font-size: $font-sm;
      }
    }
    .map {
      width: 100%;
      .map-title {
        text-align: center;
        font-size: $font-lg;
        font-weight: 500;
        margin-bottom: 10px;
        i {
          margin-right: 6px;
        }
      }
      .google-map {
        width: 100%;
      }
    }
  }
}
