@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin btnSlide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 50px;
  background-color: rgba(246, 246, 246, 0.75);
  opacity: 0;
  transition: all 0.25s ease-out;
  z-index: 1;
  &:hover {
    color: $white-color;
    background-color: rgba(146, 145, 145, 0.75);
  }
  i {
    font-size: $font-med;
    opacity: 0.6;
  }
}
