#news-item {
  padding: 20px 0;
  margin-bottom: 50px;
  .container {
    max-width: 880px;
  }
  .news-content {
    .title-main {
      color: $blue-color;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    .title-lv1 {
      margin-top: -80px;
      padding-top: 100px;
      margin-bottom: 20px;
      font-weight: 500;
      color: $blue-color;
    }
    .title-lv2 {
      font-weight: 500;
      color: $blue-color;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 20px;
      font-size: $font-med;
    }
    .text-lg {
      font-size: $font-lg;
      font-weight: 500;
    }
    .date-posted {
      font-weight: 300;
      font-size: $font-xsm;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .main-content {
      padding: 16px;
      margin: 20px 0;
      background-color: $gray-bg-color;
      .header-mc {
        font-weight: 500;
        color: $blue-color;
      }
      .part-mc {
        padding: 4px 0;
        font-size: $font-sm;
        color: $blue-color;
        cursor: pointer;
      }
    }
    .img {
      width: 100%;
      margin-bottom: 30px;
      p {
        padding: 6px;
        margin-top: -6px;
        text-align: center;
        font-size: $font-sm;
        background-color: $gray-bg-color;
      }
    }
    .img-sm {
      width: 70%;
      margin: 20px auto;
    }
    .list {
      margin-bottom: 20px;
      label {
        font-weight: 500;
      }
      li {
        padding: 6px 0;
      }
    }
    .list-sm {
      margin-bottom: 20px;
      label {
        font-weight: 500;
      }
      li {
        padding: 3px 0;
        font-size: $font-sm;
      }
    }
    .next-post {
      padding: 30px;
      border: 1px solid $yellow-color;
      i {
        margin-right: 10px;
        color: $yellow-color;
      }
      a {
        padding: 20px 0;
        font-size: $font-med;
      }
      a:hover {
        color: $yellow-color;
      }
    }
  }
}
