#news {
  display: flex;
  padding: 20px 0;
  margin-bottom: 50px;
  .news-head-title {
    color: $blue-color;
    margin-bottom: 20px;
  }
  .news-content {
    margin-bottom: 50px;

    .news-list {
      padding-bottom: 40px;
      border-bottom: 2px solid $blue-color;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      @include tablet {
        grid-template-columns: repeat(2, 1fr);
      }
      @include mobile {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    .news-item {
      .news-img {
        height: 220px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      span {
        font-size: 0.5rem;
        font-weight: 700;
        color: $white-color;
        background-color: $gray-light-color;
        padding: 2px 4px;
        border-radius: 2px;
      }
      .news-title {
        font-size: $font-med;
        line-height: 1.2;
        margin-bottom: 6px;
        color: $blue-color;
        font-weight: 700;
        text-transform: uppercase;
      }
      .news-desc {
        font-size: $font-xsm;
        color: $gray-color;
      }
      &:hover {
        span {
          background-color: $yellow-color;
        }
      }
    }
  }
  .extend-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #e5f7f8;
      border: 1px dashed $blue-color;
      border-radius: 4px;
      text-align: center;
      padding: 20px 10px;
      .intro-title {
        font-size: $font-med;
        font-weight: 500;
        color: $blue-color;
        margin-bottom: 16px;
      }
      .hotline-intro {
        color: $red-color;
        font-weight: 500;
      }
    }
    .map {
      background-color: #e5f7f8;
      border: 1px dashed $blue-color;
      border-radius: 4px;

      .map-title {
        font-size: $font-lg;
        color: $blue-color;
        padding: 10px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
        i {
          margin-right: 6px;
        }
      }
      .google-map {
        width: 100%;
      }
    }
  }
}
