.left-content {
  width: 75%;
}
.rightbar {
  width: 25%;
  margin-left: 20px;
  .contact {
    background-color: $gray-border-color;
    padding: 10px 0;
    margin-top: -10px;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
  }
  .new-posts {
    .new-posts-title {
      font-size: $font-med;
      font-weight: 700;
    }
    .posts-item {
      display: flex;
      padding: 10px 0;
      border-bottom: 1px solid $gray-border-color;
      .img-item {
        margin-right: 16px;
        img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .name {
        font-size: $font-sm;
        &:hover {
          color: $blue-color;
        }
      }
    }
  }
}
