// Colors
$text-color: #262626;
$white-color: #fff;
//$blue-color: #00aae4;
$blue-color: #074971;
$blue-light-color: #e5f7f8;
$yellow-color: #f5a900;
$red-color: #ff0000;
$gray-color: #8e8e8e;
$gray-light-color: #c7c7c7;
$gray-border-color: #dbdbdb;
$gray-bg-color: #ededed;

// Font Sizes
$font-xsm: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.375rem;
$font-xlg: 1.65rem;
